---
import type { HTMLAttributes } from "astro/types";
import ExternalIcon from "../assets/External.astro";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<a
  {...props}
  class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-100"
  rel="noopener noreferrer"
  target="_blank"
>
  <ExternalIcon />
  <p class="h-7 ml-2">
    <slot />
  </p>
</a>
