---
interface Props {
  href: string;
  external?: boolean;
  class?: string;
}

const { href, external = false, class: className } = Astro.props;

const isExternal =
  external || href.startsWith("http") || href.startsWith("mailto:");
const externalProps = isExternal
  ? { target: "_blank", rel: "noopener noreferrer" }
  : {};
---

<a href={href} class={className} {...externalProps}>
  <slot />
</a>
