---

---

<html lang="en" class="text-black bg-white dark:text-white dark:bg-[#111010]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <meta name="darkreader-lock" />
  </head>

  <body
    class="antialiased max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto font-geist"
  >
    <slot />
  </body>
</html>
