---

---

<html lang="en" class="text-black bg-white dark:text-white dark:bg-[#111010]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Eric Minassian</title>
    <meta
      name="description"
      content="SDE Intern at Amazon. Previously at Walmart. Studying CS + Business Administration at the University of California, Irvine."
    />
    <meta name="author" content="Eric Minassian" />
    <meta name="canonical" content="https://www.ericminassian.com" />
    <meta name="og:title" content="Eric Minassian" />
    <meta
      name="og:description"
      content="SDE Intern at Amazon. Previously at Walmart. Studying CS + Business Administration at the University of California, Irvine."
    />
    <meta name="og:url" content="https://www.ericminassian.com" />
    <meta name="og:site_name" content="Eric Minassian" />
    <meta name="theme-color" content="#111010" />
    <meta name="darkreader-lock" />
  </head>

  <body
    class="antialiased max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto font-geist"
  >
    <slot />
  </body>
</html>
